const char *WiFi_ssid = "SSID";
const char *WiFi_password = "PASSWORD";
const char* MQTT_broker = "BROKER.DOMAIN.TLD";
const char* MQTT_user = "";
const char* MQTT_pass = "";
const char* WiFi_ClientName = "ColdStuff";
const char* MQTT_ClientName = "ColdStuff";